$secondFontFamaly:'Titan One', cursive;
// background
$whiteColor:  #E5E5E5;
$primeryColor:  #FFF5F6;
$secondaryColor: #FFB8CA;
// мобильная версия
$mobileColor: #E17992;
// текст
$textWhiteColor:  #FFFFFF;
$titleColor: #D41443;
$preTitleColor: #FFA5BA;
$mainTextColor: #907E82;
$secondaryTextColor: #000000;
