$secondFontFamaly: 'Titan One', cursive;
// background
$whiteColor: #e5e5e5;
$primeryColor: #fff5f6;
$secondaryColor: #ffb8ca;
// мобильная версия
$mobileColor: #e17992;
// текст
$textWhiteColor: #ffffff;
$titleColor: #d41443;
$preTitleColor: #ffa5ba;
$mainTextColor: #907e82;
$secondaryTextColor: #000000;
// кнопка
$mainbtnColor: #ffffff;
