
<section class="about section" id="howitsmade">
  <div class="about__container container">
    <p class="about__text">tradition and love</p>
    <h2 class="about__title">how it’s made?</h2>
    <picture></picture>
    <div class="about__container-position">
      <picture>
           <source srcset="./images/about-desctop@1.png,
                       ./images/about-desctop@1.png"
                        media="(min-width:1200px)"/>
       <source srcset="./images/about-tablets@1.png,
                       ./images/about-tablets@2.png"
                        media="(min-width:768px)"/>
        <source scrset="./images/about.png,
                       ./images/about@2.png"
                        media="(min-width:320px)"/>
      </picture>
    <img
      class="about__img"
      width="501px"
      height="501px"
      src="./images/about.png"
      alt="cow with milk"
    />
    <div class="about__text-container">
    <p class="about__text-pre about__text-img">
      Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
      cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo
      fringilla.
    </p>
    <p class="about__text-after about__text-indent ">
      Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
      Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
      suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
      tincidunt.
      <p class="about__text-after about-after"
        >Aliquam erat volutpat. Aenean accumsan.</p>
    </p>
       <button data-about-open type="button" class="about__button"><span class="button__text">Read more</span><span>
        <svg width="7px" height="10px" class="about__svg">
          <use  class="about__use" href="./images/symbol-defs.svg#btn-icon">
          </use>
        </svg>
       </span>
      </button>
      <div data-about class="about-us">
        <div class="about-us__container">
          <button data-about-close type="button" class="about-us__button">
            <svg class="about-us__icon">
              <use class="about-us__icon" href="./images/symbol-defs.svg#icon-close-about"
              ></use>
            </svg>
          </button>
          <h3 class="about-us__title">About us</h3>
          <p class="about-us__text about-us__text-pre">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit aliquam, enim assumenda veritatis accusantium commodi. Quo esse voluptatibus repellat, a facilis quibusdam labore minima in omnis aperiam natus harum enim? Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
          <p class="about-us__text ">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit aliquam, enim assumenda veritatis accusantium commodi. Quo esse voluptatibus repellat, a facilis quibusdam labore minima in omnis aperiam natus harum enim?</p>
          <img class="about-us__img" src="./images/hero/desktop/hero-milk.png" alt="milk">
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
