<section class="section advantages">
  <div class="container advantages__container">
    <h2 class="visually-hidden">Odessa</h2>
    <ul class="list">
      <li class="iteam">
        <svg class="icon" width="45" height="50">
          <use href="./images/symbol-defs.svg#icon-advan1"></use>
        </svg>
        <p class="advantages__text">721</p>
        <p class="advantages__content">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="iteam">
        <svg class="icon" width="45" height="50">
          <use href="./images/symbol-defs.svg#icon-advan2"></use>
        </svg>
        <p class="advantages__text">16kg</p>
        <p class="advantages__content">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="iteam">
        <svg class="icon" width="45" height="50">
          <use href="./images/symbol-defs.svg#icon-advan3"></use>
        </svg>
        <p class="advantages__text">84</p>
        <p class="advantages__content">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
