<section class="section advantages">
  <div class="container advantages__container">
    <h2 class="visually-hidden">Odessa</h2>
    <ul class="list">
      <li class="iteam">
        <p class="advantages__text milk">721</p>
        <p class="advantages__content">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="iteam">
        <p class="advantages__text appl">16kg</p>
        <p class="advantages__content">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="iteam">
        <p class="advantages__text love">84</p>
        <p class="advantages__content">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
