<section class="contacts__section">
<div class="contacts">
  <button type="button__title">cafe</button>
  <h3 class="contacts__title">Chicago</h3>
  <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
  <svg class="contacts__icon" width="32" height="32">
    <use href="./images/symbol-defs.svg#"></use>
  </svg>
  <div>
    <p>Monday - Friday</p>
    <p>06:00 AM - 10:00 PM</p>
    <p>Saturday - Sunday</p>
    <p>08:00 AM - 16:00 PM</p>
    <svg class="contacts__icon" width="32" height="32">
      <use href="./images/symbol-defs.svg#"></use>
    </svg>
    <a class="contacts__link" href="tel:+610383766284">+61 (0) 383 766 284</a>
    <a class="contacts__link" href="mailto:noreply@envato.com">
  </div>
</div>
<div class="contacts">
  <button type="button__title" width="80" height="16" >FOODTRUCK</button>
  <h3>Los Angeles</h3>
  <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
  <svg class="contacts__icon" width="32" height="32">
    <use href="./images/symbol-defs.svg#"></use>
  </svg>
  <div>
    <p>Monday - Friday</p>
    <p>06:00 AM - 10:00 PM</p>
    <p>Saturday - Sunday</p>
    <p>08:00 AM - 16:00 PM</p>
    <svg class="contacts__icon" width="32" height="32">
      <use href="./images/symbol-defs.svg#"></use>
    </svg>
    <a class="contacts__link" href="tel:+610383766284">+61 (0) 383 766 284</a>
    <a class="contacts__link" href="mailto:noreply@envato.com">
  </div>
</div>
<div class="contacts">
    <button type="button__title" width="80" height="16" >cafe</button>
  <h3>New York</h3>
  <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
  <svg class="contacts__icon" width="32" height="32">
    <use href="./images/symbol-defs.svg#"></use>
  </svg>
  <div>
    <p>Monday - Friday</p>
    <p>06:00 AM - 10:00 PM</p>
    <p>Saturday - Sunday</p>
    <p>08:00 AM - 16:00 PM</p>
    <svg class="contacts__icon" width="32" height="32">
      <use href="./images/symbol-defs.svg#"></use>
    </svg>
    <a class="contacts__link" href="tel:+610383766284">+61 (0) 383 766 284</a>
    <a class="contacts__link" href="mailto:noreply@envato.com">
      
  </div>
  <button type="button__hero--red">Our Locations</button>
  <button type="button__hero--white">Franchise</button>
</div>
</section>