<div class="contacts">
  <ul class="contacts__list"></ul>
  <h2>cafe</h2>
  <h3>Chicago</h3>
  <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
  <svg class="contacts__icon" width="32" height="32">
    <use href="./images/symbol-defs.svg#"></use>
  </svg>
  <div>
    <p>Monday - Friday</p>
    <p>06:00 AM - 10:00 PM</p>
    <p>Saturday - Sunday</p>
    <p>08:00 AM - 16:00 PM</p>
    <svg class="contacts__icon" width="32" height="32">
      <use href="./images/symbol-defs.svg#"></use>
    </svg>
    <a class="contacts__link" href="tel:+610383766284">+61 (0) 383 766 284</a>
    <a class="contacts__link" href="mailto:noreply@envato.com">
  </div>
</div>
<div class="contacts">
  <ul class="contacts__list"></ul>
  <h2>FOODTRUCK</h2>
  <h3>Los Angeles</h3>
  <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
  <svg class="contacts__icon" width="32" height="32">
    <use href="./images/symbol-defs.svg#"></use>
  </svg>
  <div>
    <p>Monday - Friday</p>
    <p>06:00 AM - 10:00 PM</p>
    <p>Saturday - Sunday</p>
    <p>08:00 AM - 16:00 PM</p>
    <svg class="contacts__icon" width="32" height="32">
      <use href="./images/symbol-defs.svg#"></use>
    </svg>
    <a class="contacts__link" href="tel:+610383766284">+61 (0) 383 766 284</a>
    <a class="contacts__link" href="mailto:noreply@envato.com">
  </div>
</div>
<div class="contacts">
  <ul class="contacts__list"></ul>
  <h2>cafe</h2>
  <h3>Chicago</h3>
  <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
  <svg class="contacts__icon" width="32" height="32">
    <use href="./images/symbol-defs.svg#"></use>
  </svg>
  <div>
    <p>Monday - Friday</p>
    <p>06:00 AM - 10:00 PM</p>
    <p>Saturday - Sunday</p>
    <p>08:00 AM - 16:00 PM</p>
    <svg class="contacts__icon" width="32" height="32">
      <use href="./images/symbol-defs.svg#"></use>
    </svg>
    <a class="contacts__link" href="tel:+610383766284">+61 (0) 383 766 284</a>
    <a class="contacts__link" href="mailto:noreply@envato.com">
  </div>
</div>
<!-- 1. Дів магазин
2. Аналоігчний дів №2 і №3
3. Аналоігчний дів №2 і №3
4. Кнопка наші локації
5. Кнопка франшиза… пропозиція купити франшизу?
Футер
Заголовок
Спосок соц мереж
Контакти номер телефона
Векторрний малюнок 8
Параграф захист прав
Дисктопна версія флекси
І геп
 -->
