<section class="section reviews">
  <div class="container reviews__container">
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="reviews__flex swiper-slide">
          <div class="reviews__photo">
            <picture>
              <source
                srcset="
                  ./images/customer-reviews/people_1.png    1x,
                  ./images/customer-reviews/people_1_2x.png 2x
                "
                media="(min-width: 320px)"
              />
              <img
                class="reviews_img"
                src="./images/customer-reviews/people_1.png"
                alt="clients photo 1"
                width="85"
                height="85"
              />
            </picture>
          </div>
          <div class="reviews__bgc">
            <p class="reviews__text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.
            </p>
          </div>
          <p class="reviews__name-text">Emily, Los Angeles</p>
        </div>
        <div class="reviews__flex swiper-slide">
          <div class="reviews__photo">
            <picture>
              <source
                srcset="
                  ./images/customer-reviews/people_2.png    1x,
                  ./images/customer-reviews/people_2_2x.png 2x
                "
                media="(min-width: 320px)"
              />
            </picture>
            <img
              class="reviews_img"
              src="./images/customer-reviews/people_2.png"
              alt="clients photo 2"
              width="85"
              height="85"
            />
          </div>
          <div class="reviews__bgc">
            <p class="reviews__text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.
            </p>
          </div>
          <p class="reviews__name-text">Emily, Los Angeles</p>
        </div>
        <div class="reviews__flex swiper-slide">
          <div class="reviews__photo">
            <picture>
              <source
                srcset="
                  ./images/customer-reviews/people_3.png    1x,
                  ./images/customer-reviews/people_3_2x.png 2x
                "
                media="(min-width: 320px)"
              />
            </picture>
            <img
              class="reviews_img"
              src="./images/customer-reviews/people_3.png"
              alt="clients photo 3"
              width="85"
              height="85"
            />
          </div>
          <div class="reviews__bgc">
            <p class="reviews__text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.
            </p>
          </div>
          <p class="reviews__name-text">Emily, Los Angeles</p>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
