<section class="section reviews">
  <div>
    <div>
      <picture>
        <source
          srcset="
            ./images/customer-reviews/people_1.jpg,
            ./images/customer-reviews/people_1_2x.jpg
          "
          media="(min-width: 320px)"
        />
      </picture>
      <img src="./images/customer-reviews/people_1.jpg" alt="clients photo 1" />
      <p>
        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
        sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis
        in nibh vel risus.
      </p>
      <p>Emily, Los Angeles</p>
    </div>
    <div>
      <picture>
        <source
          srcset="
            ./images/customer-reviews/people_2.jpg,
            ./images/customer-reviews/people_2_2x.jpg
          "
          media="(min-width: 320px)"
        />
      </picture>
      <img src="./images/customer-reviews/people_2.jpg" alt="clients photo 2" />
      <p>
        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
        sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis
        in nibh vel risus.
      </p>
      <p>Emily, Los Angeles</p>
    </div>
    <div>
      <picture>
        <source
          srcset="
            ./images/customer-reviews/people_3.jpg,
            ./images/customer-reviews/people_3_2x.jpg
          "
          media="(min-width: 320px)"
        />
      </picture>
      <img src="./images/customer-reviews/people_3.jpg" alt="clients photo 3" />
      <p>
        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
        sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis
        in nibh vel risus.
      </p>
      <p>Emily, Los Angeles</p>
    </div>
  </div>
</section>
