<footer>
  <section class="footer">
    <h2 class="footer__title">
      homemade ice cream made <span>with passion</span>
    </h2>
    <ul class="footer__list">
                  <a class="footer__link" href="">
                    <svg class="footer__icon" width="32" height="32">
                      <use href="../images/"></use>
                    </svg>
                  </a>
                  <a class="footer__link" href="">
                    <svg class="footer__icon" width="32" height="32">
                      <use href="../images/logo.png"></use>
                    </svg>
                  </a>
                  <a class="footer__link" href="">
                    <svg class="footer__icon" width="32" height="32">
                      <use href="../images/logo.png"></use>
                    </svg>
                  </a>

    <p>Feel free to contact</p>
    <a class="footer-phone" href="tel:+610383766284">+61 (0) 383 766 284</a>
    <p>© 2022 - IceCream.</p>
    <p>All Rights Reserved.</p>
  </section>
</footer>
