<section class="section section__gallery">

    <h2 class="visually-hidden">Galery</h2>
    <ul class="gallery__list container">
        <li class="gallery__item gallery__item--1"><img class="gallery__item--img" srcset="./images/mobile/galery-mobail-1-44.jpg 44w, 
                                ./images/mobile/galery-mobail-1-44@2x.jpg 88w, 
                                ./images/tablet/galery-tablet-1-105.jpg 105w, 
                                ./images/tablet/galery-tablet-1-105@2x.jpg 210w, 
                                ./images/laptop/galery-laptop-1-140.jpg 140w, 
                                ./images/laptop/galery-laptop-1-140@2x.jpg 280w"
                sizes="(min-width: 1200px) 140px, (min-width: 768px) 105px, (max-width: 767px) 44px"
                src="./images/laptop/galery-laptop-1-140.jpg" alt="ice cream in a creamer">
        </li>
        <li class="gallery__item gallery__item--2"><img class="gallery__item--img" srcset="./images/mobile/galery-mobail-2-44.jpg 44w, 
                                ./images/mobile/galery-mobail-2-44@2x.jpg 88w, 
                                ./images/tablet/galery-tablet-2-105.jpg 105w, 
                                ./images/tablet/galery-tablet-2-105@2x.jpg 210w, 
                                ./images/laptop/galery-laptop-2-140.jpg 140w, 
                                ./images/laptop/galery-laptop-2-140@2x.jpg 280w"
                sizes="(min-width: 1200px) 140px, (min-width: 768px) 105px, (max-width: 767px) 44px"
                src="./images/laptop/galery-laptop-2-140.jpg" alt="ice cream in hand">
        </li>
        <li class="gallery__item gallery__item--3"><img class="gallery__item--img" srcset="./images/mobile/galery-mobail-3-90.jpg 90w, 
                    ./images/mobile/galery-mobail-3-90@2x.jpg 180w, 
                    ./images/tablet/galery-tablet-3-215.jpg 105w, 
                    ./images/tablet/galery-tablet-3-215@2x.jpg 430w, 
                    ./images/laptop/galery-laptop-3-284.jpg 284w, 
                    ./images/laptop/galery-laptop-3-284@2x.jpg 568w"
                sizes="(min-width: 1200px) 284px, (min-width: 768px) 215px, (max-width: 767px) 90px"
                src="./images/laptop/galery-laptop-3-284.jpg" alt="a lot of ice cream">
        </li>
        <li class="gallery__item gallery__item--4"><img class="gallery__item--img" srcset="./images/mobile/galery-mobail-4-44.jpg 44w, 
                    ./images/mobile/galery-mobail-4-44@2x.jpg 88w, 
                    ./images/tablet/galery-tablet-4-105.jpg 105w, 
                    ./images/tablet/galery-tablet-4-105@2x.jpg 210w, 
                    ./images/laptop/galery-laptop-4-140.jpg 140w, 
                    ./images/laptop/galery-laptop-4-140@2x.jpg 280w"
                sizes="(min-width: 1200px) 140px, (min-width: 768px) 105px, (max-width: 767px) 44px"
                src="/src/images/laptop/galery-laptop-4-140.jpg" alt="ce cream in a creamer with fruts">
        <li class="gallery__item gallery__item--5"><img class="gallery__item--img" srcset="./images/mobile/galery-mobail-5-44.jpg 44w, 
                    ./images/mobile/galery-mobail-5-44@2x.jpg 88w, 
                    ./images/tablet/galery-tablet-5-105.jpg 105w, 
                    ./images/tablet/galery-tablet-5-105@2x.jpg 210w, 
                    ./images/laptop/galery-laptop-5-140.jpg 140w, 
                    ./images/laptop/galery-laptop-5-140@2x.jpg 280w"
                sizes="(min-width: 1200px) 140px, (min-width: 768px) 105px, (max-width: 767px) 44px"
                src="./images/laptop/galery-laptop-5-140.jpg" alt="dog and ice cream">
        <li class="gallery__item gallery__item--6"><img class="gallery__item--img" srcset="./images/mobile/galery-mobail-6-44.jpg 44w, 
                    ./images/mobile/galery-mobail-6-44@2x.jpg 88w, 
                    ./images/tablet/galery-tablet-6-105.jpg 105w, 
                    ./images/tablet/galery-tablet-6-105@2x.jpg 210w, 
                    ./images/laptop/galery-laptop-6-140.jpg 140w, 
                    ./images/laptop/galery-laptop-6-140@2x.jpg 280w"
                sizes="(min-width: 1200px) 140px, (min-width: 768px) 105px, (max-width: 767px) 44px"
                src="./images/laptop/galery-laptop-6-140.jpg" alt="cake and ice cream">
        </li>
        <li class="gallery__item gallery__item--7"><img class="gallery__item--img" srcset="./images/mobile/galery-mobail-7-44.jpg 44w, 
                    ./images/mobile/galery-mobail-7-44@2x.jpg 88w, 
                    ./images/tablet/galery-tablet-7-105.jpg 105w, 
                    ./images/tablet/galery-tablet-7-105@2x.jpg 210w, 
                    ./images/laptop/galery-laptop-7-140.jpg 140w, 
                    ./images/laptop/galery-laptop-7-140@2x.jpg 280w"
                sizes="(min-width: 1200px) 140px, (min-width: 768px) 105px, (max-width: 767px) 44px"
                src="./images/laptop/galery-laptop-7-140.jpg" alt="a lot of ice cream">
        </li>
        <li class="gallery__item gallery__item--8"><img class="gallery__item--img" srcset="./images/mobile/galery-mobail-8-44.jpg 44w, 
                    ./images/mobile/galery-mobail-8-44@2x.jpg 88w, 
                    ./images/tablet/galery-tablet-8-105.jpg 105w, 
                    ./images/tablet/galery-tablet-8-105@2x.jpg 210w, 
                    ./images/laptop/galery-laptop-8-140.jpg 140w, 
                    ./images/laptop/galery-laptop-8-140@2x.jpg 280w"
                sizes="(min-width: 1200px) 140px, (min-width: 768px) 105px, (max-width: 767px) 44px"
                src="./images/laptop/galery-laptop-8-140.jpg" alt="aThe girl with ice cream">
        </li>
        <li class="gallery__item gallery__item--9"><img class="gallery__item--img" srcset="./images/mobile/galery-mobail-9-44.jpg 44w, 
                    ./images/mobile/galery-mobail-9-44@2x.jpg 88w, 
                    ./images/tablet/galery-tablet-9-105.jpg 105w, 
                    ./images/tablet/galery-tablet-9-105@2x.jpg 210w, 
                    ./images/laptop/galery-laptop-9-140.jpg 140w, 
                    ./images/laptop/galery-laptop-9-140@2x.jpg 280w"
                sizes="(min-width: 1200px) 140px, (min-width: 768px) 105px, (max-width: 767px) 44px"
                src="./images/laptop/galery-laptop-9-140.jpg" alt="ice cream in hand">
        </li>
        <li class="gallery__item gallery__item--10"><img class="gallery__item--img" srcset="./images/mobile/galery-mobail-10-44.jpg 44w, 
                    ./images/mobile/galery-mobail-10-44@2x.jpg 88w, 
                    ./images/tablet/galery-tablet-10-105.jpg 105w, 
                    ./images/tablet/galery-tablet-10-105@2x.jpg 210w, 
                    ./images/laptop/galery-laptop-10-140.jpg 140w, 
                    ./images/laptop/galery-laptop-10-140@2x.jpg 280w"
                sizes="(min-width: 1200px) 140px, (min-width: 768px) 105px, (max-width: 767px) 44px"
                src="./images/laptop/galery-laptop-10-140.jpg" alt="cold coffee">
        </li>
    </ul>

</section>