<header class="header">
    <div class="container header__container">
        <div class="header__logo logo">
            <a href="./" class="logo">
                <svg class="logo__icon" width="199px" height="50px">
                    <use href="./images/symbol-defs.svg#logo"></use>
                </svg>
            </a>
        </div>
        <div class="button__container">
        <button class="burger" type="button" data-modal-open>
            <svg class="burger__icon" width="20px" height="12px">
                <use href="./images/symbol-defs.svg#btn-menu"></use>
            </svg>
        </button>
        <button type="button" class="button__main button--clone"><span class="button__text">Buy now</span><svg width="7px" height="10px">
                <use href="./images/symbol-defs.svg#btn-icon"></use>
            </svg></button>
            </div>
            <nav class="desktop__nav">
                <ul class="desktop__list">
                        <li class="desktop__item"><a href="./" class="desktop__link">Home</a></li>
                        <li class="desktop__item"><a href="#about" class="desktop__link">About us</a></li>
                        <li class="desktop__item"><a href="#howitsmade" class="desktop__link">How it’s made?</a></li>
                        <li class="desktop__item"><a href="#products" class="desktop__link">Our products</a></li>
                        <li class="desktop__item"><a href="#contacts" class="desktop__link">Contact</a></li>
                </ul>
            </nav>
            <button type="button" class="button__main desktop__button"><span class="button__text">Buy now</span><svg width="7px" height="10px">
                    <use href="./images/symbol-defs.svg#btn-icon"></use>
                </svg></button> 
        <div class="header__mobil is-hidden" data-modal>
            <nav class="header__nav">
                <ul class="header__list">
                    <li class="header__item"><a href="./" class="header__link">Home</a></li>
                    <li class="header__item"><a href="#about" class="header__link">About us</a></li>
                    <li class="header__item"><a href="#howitsmade" class="header__link">How it’s made?</a></li>
                    <li class="header__item"><a href="#products" class="header__link">Our products</a></li>
                    <li class="header__item"><a href="#contacts" class="header__link">Contact</a></li>
                </ul>
            </nav>
            <button type="button" class="button__main"><span class="button__text">Buy now</span><svg width="7px" height="10px">
                <use href="./images/symbol-defs.svg#btn-icon"></use>
            </svg></button>
            <button class="cross" type="button" data-modal-close>
                <svg class="cross__icon" width="14px" height="14px">
                    <use href="./images/symbol-defs.svg#btn-close"></use>
                </svg>
            </button>
        </div>
    </div>
</header>
<!-- HERO============================================================== -->
<section id="about" class="hero">
    <div class="container hero__container">
        <picture class="header__pic1 slide-in-elliptic-left-fwd">
            <source srcset="./images/hero/desktop/hero-milk.png 1x, ./images/hero/desktop/hero-milk@2x.png 2x" media="(min-width: 1200px)" type="image/png">
            <source srcset="./images/hero/tablet/hero-milk.png 1x, ./images/hero/tablet/hero-milk@2x.png  2x"
                media="(min-width: 768px)" type="image/png">
            <img src="./images/hero/desktop/hero-milk@2x.png" alt="milk">
            
        </picture>
        <picture class="header__pic2 slide-in-elliptic-bottom-fwd">
            <source srcset="./images/hero/desktop/hero-girl.png 1x, ./images/hero/desktop/hero-girl@2x.png 2x"
                media="(min-width: 1200px)" type="image/png">
            <source srcset="./images/hero/tablet/hero-girl.png 1x, ./images/hero/tablet/hero-girl@2x.png  2x"
                media="(min-width: 768px)" type="image/png">
            <img src="./images/hero/desktop/hero-girl@2x.png" alt="girl with icecream">
         
        </picture>
        <div class="hero__wraper">
            <div class="hero__main">
                <h1 class="hero__title">ice cream </br>
                    made with
                    <span class="hero__title--strong">passion</span>
                </h1>
                        <a class="button__hero button__hero--red" href="#products">Products</a>
                        <a class="button__hero button__hero--white" href="#howitsmade">How it’s made?</a>
                        
            </div>
            <ul class="hero__indicators">
                <li class="hero__item"><span class="hero__walue">16</span>cafes</li>
                <li class="hero__item"><span class="hero__walue">23</span>food trucks</li>
            </ul>
        </div>
        <div class="hero__description">
            <button type="button" class="button__secondary">
                <svg width="6px" height="6px">
                    <use href="./images/symbol-defs.svg#icon-arrow-right2"></use>
                </svg>
            </button>
            <p class="hero__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et</p>
            
        </div>
    </div>
</section>