<section class="products">
  <div class="container products__container">
    <p class="products__pretaitle">100% natural</p>
    <h2 class="products__taitle">products</h2>
    <ul class="products__list">
      <li class="products__item strauberry">
        <img
          src="./images/ice_cream_srtawberrypng.png"
          alt="ice cream strauberry"
        />
        <p class="products__text">ice cream</p>
        <svg class="products__icon"></svg>
        <p class="products__content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <a href="#" class="products__linc"></a>
      </li>
      <li class="products__item coffee">
        <img src="./images/ice_cream_vanilla.png" alt="ice coffee" />
        <p class="products__text">ice coffee</p>
        <svg class="products__icon"></svg>
        <p class="products__content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <a href="#" class="products__linc"></a>
      </li>
      <li class="products__item milkshakes">
        <img src="./images/ice_cream_chocolate.png" alt="milkshakes" />
        <p class="products__text">mikshakes</p>
        <svg class="products__icon"></svg>
        <p class="products__content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <a href="#" class="products__linc"></a>
      </li>
    </ul>
  </div>
</section>
