<section class="section products" id="products">
  <div class="container products__container">
    <p class="products__pretaitle">100% natural</p>
    <h2 class="products__taitle">products</h2>
    <ul class="products__list">
      <li class="products__item strauberry">
        <p class="products__text">ice cream</p>
        <p class="products__content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
          <span class="hidden">. dolore magna aliqua facilisis.</span>
        </p>
        <button class="products__button">
          <svg width="11" height="10">
            <use href="./images/symbol-defs.svg#icon-arrow-right2"></use>
          </svg>
        </button>
      </li>
      <li class="products__item coffe">
        <p class="products__text">ice coffee</p>
        <p class="products__content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
          <span class="hidden">. dolore magna aliqua facilisis.</span>
        </p>
        <button class="products__button">
          <svg width="11" height="10">
            <use href="./images/symbol-defs.svg#icon-arrow-right2"></use>
          </svg>
        </button>
      </li>
      <li class="products__item milkshakes">
        <p class="products__text">milkshakes</p>
        <p class="products__content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
          <span class="hidden">. dolore magna aliqua facilisis.</span>
        </p>
        <button class="products__button">
          <svg width="11" height="10">
            <use href="./images/symbol-defs.svg#icon-arrow-right2"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
