.about.section {
  background-color: #fff5f6;
  position: relative;

  text-align: center;
  padding-top: 60px;
  padding-bottom: 20px;
  @media screen and (min-width: 768px) {
    padding-bottom: 30px;
  }
  @media screen and (min-width: 1200px) {
    padding-bottom: 60px;
  }
  scroll-behavior: smooth;
}
.about__text {
  font-family: $secondFontFamaly;
  font-size: 18px;
  line-height: 1.16;
  text-transform: uppercase;
  color: $preTitleColor;

  text-align: center;
  margin-bottom: 15px;
  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 1.15;
    margin-bottom: 16px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 30px;
    line-height: 1.13;

    letter-spacing: 0.04em;
  }
}
.about__title {
  font-family: $secondFontFamaly;
  font-size: 34px;
  line-height: 1.14;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  color: $titleColor;

  text-align: center;
  margin-bottom: 32px;
  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: 1.14;
    margin-bottom: 40px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 58px;
    line-height: 1.13;
    letter-spacing: 0.06em;

    margin-bottom: 60px;
  }
}
.about__img {
  width: 280px;
  height: 279px;

  margin-bottom: 40px;
  @media screen and (min-width: 768px) {
    width: 336px;
    height: 335px;
  }
  @media screen and (min-width: 1200px) {
    width: 501px;
    height: 501px;
  }
}
.about__text-pre {
  position: relative;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.58;
  color: $secondaryTextColor;
  text-align: start;

  margin-bottom: 26px;
  z-index: 99999;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.78;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 32px;

    font-size: 16px;
    line-height: 1.75;

    letter-spacing: 0.04em;
  }
}
.about__text-after {
  position: relative;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.58;
  color: $mainTextColor;
  text-align: start;
  letter-spacing: 0.04em;
  max-width: 480px;
  margin-bottom: 16px;
  background-color: transparent;
  z-index: 99999;
  @media screen and(min-width:768px) {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.78;

    letter-spacing: 0.04em;
  }
  @media screen and (min-width: 1200px) {
    line-height: 1.78;

    letter-spacing: 0.04em;
  }
}
.about::before {
  content: '';
  position: absolute;

  display: inline-block;

  @media screen and (max-width: 767px) {
    background-image: url('/src/images/aboutbg.png');
    @media (min-deviace-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('/src/images/sectionbg-mobile@2.png');
    }
  }

  background-repeat: no-repeat;
  background-size: 100%;
  height: 100%;
  top: 64%;
  width: 100%;
  left: 0;
  right: 0;

  // @media screen and (min-width: 480px) {
  //   max-width: 480px;
  // }
  @media screen and (min-width: 768px) {
    display: none;
  }
  @media screen and (min-width: 1200px) {
    display: inline-block;
    background-image: url('/src/images/about-desktop.png');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100vw;
    height: 100%;
    top: 25%;
    @media (min-deviace-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('/src/images/sectionbg-desktop@2.png');
    }
  }
}
.about__text-container {
  width: 100%;
  @media screen and (max-width: 767px) {
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  @media screen and (min-width: 480px) and (max-width: 767px) {
    max-width: 440px;
  }
  @media screen and (min-width: 768px) {
    width: 334px;
  }
  @media screen and (min-width: 1200px) {
    width: 463px;
  }
}
.about__text-indent {
  margin-bottom: 20px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 40px;
  }
}
.about__button {
  font-weight: 700;
  position: relative;
  z-index: 99999;
  cursor: pointer;

  @media screen and (max-width: 768px) {
    font-size: 14px;
    line-height: 1.28;
  }
  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.31;
  }
  display: flex;
  align-items: center;
  text-align: center;

  padding: 15px 37px;

  color: $titleColor;
  background: $textWhiteColor;
  border-radius: 22px;
  border: none;

  &:hover,
  &:focus {
    background: #ecebeb;
  }
}

.about__container-position {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    gap: 32px;
  }

  @media screen and (min-width: 1200px) {
    align-items: center;
    gap: 99px;
  }
}

.about-after {
  margin-bottom: 40px;
}
// .about__button::after {
//   content: '';
//   position: absolute;
//   background-image: url('../images/symbol-defs.svg#icon-vector');
//   width: 10px;
//   height: 20px;
//   fill: red;
// }
.about__svg {
  display: inline-block;
  width: 7px;
  height: 10px;
}
.about__use {
  display: inline-block;
  width: 7px;
  height: 10px;
}

// МОДАЛЬНЕ ВІКНО
.about-us {
  position: fixed;
  display: none;

  overflow: auto;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 99999;
  padding-left: 10px;
  padding-right: 10px;
}
.about-us__container {
  position: absolute;

  height: 500px;
  width: 800px;
  z-index: 999999;
  background-image: linear-gradient(
    to right bottom,
    $preTitleColor,
    $whiteColor
  );

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  padding: 40px;
  // transform: perspective(600px), translate(0, -100%), rotate(45deg);
  transition: opacity 5000ms linear;
  box-shadow: 0 0 10px 5px rgba(240, 92, 136, 0.3);
  @media screen and (max-width: 767px) {
    min-height: 50%;
    width: 80%;
  }
  @media screen and (max-width: 479px) {
    min-height: 95%;
    width: 100%;
  }
}
.about-us__title {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 58px;
  line-height: 1.13;
  letter-spacing: 0.06em;

  color: $titleColor;
  text-transform: uppercase;
  margin-bottom: 20px;
  @media screen and (min-width: 480px) and (max-width: 767px) {
    font-size: 26px;
    line-height: 1.5;
    margin-bottom: 10px;
  }
  @media screen and (max-width: 479px) {
    font-size: 32px;
    line-height: 1.13;
    margin-bottom: 40px;
  }
}
.about-us__text {
  color: $secondaryTextColor;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.76;

  letter-spacing: 0.04em;
  @media screen and (min-width: 480px) and (max-width: 767px) {
    font-size: 14px;
    line-height: 1.3;
  }
}
.about-us__text-pre {
  margin-bottom: 20px;
  @media screen and (min-width: 480px) and (max-width: 767px) {
    margin-bottom: 5px;
    @media screen and (max-width: 479px) {
      margin-bottom: 8px;
    }
  }
}
.about-us__icon {
  width: 18px;
  height: 18px;
}
.about-us__button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999999;
  width: 28px;
  height: 28px;
  background-color: $titleColor;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: transform 250ms ease-in;

  top: 20px;
  right: 20px;
}

.about-us__button:hover,
.about-us__button:focus {
  background-color: gray;
  transform: rotate(90deg);
}
.about-us.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.about-us__img {
  position: absolute;
  bottom: 0;
  left: 20px;
  z-index: -1;
  @media screen and (min-width: 480px) and (max-width: 767px) {
    width: 100px;
    height: 100px;
  }
}
.about-use__pre-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.76;

  letter-spacing: 0.04em;

  color: deeppink;
}
body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #e5e5e5;
}

body::-webkit-scrollbar-thumb {
  background-color: #d41443;
  border-radius: 20px;
  border: 3px solid #ffb8ca;
}
