.contacts__section {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    background: linear-gradient(to bottom, #ffffff 20%, #fff5f6 20%);
  }
  @media screen and (max-width: 767px) {
    padding-top: 30px;
    padding-bottom: 20px;
    background: linear-gradient(to bottom, #ffffff 25%, #fff5f6 25%);
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-top: 40px;
    padding-bottom: 20px;

    background: linear-gradient(to bottom, #ffffff 50%, #fff5f6 50%);
  }
}

.contacts__container {
  width: 100%;
  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.footer {
  padding-top: 20px;
  background-color: #fff5f6;
}

.contacts {
  @media screen and (min-width: 1200px) {
    width: 368px;
    padding: 40px;
  }
  border: 2px solid transparent;
  border-radius: 24px;
  padding-top: 40px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 40px;
  background: #ffffff;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  text-align: start;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 224px;
  }
  @media screen and (max-width: 767px) {
    width: 280px;
  }
}

.contacts__box--shops {
  text-align: center;
  justify-content: start;
  margin-bottom: 32px;
  @media screen and (min-width: 768px) {
    display: flex;
    gap: 32px;
    margin-bottom: 60px;
  }
  @media screen and (max-width: 767px) {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
}

.button__list {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: nowrap;
    gap: 15px;
  }
  @media screen and (max-width: 767px) {
    justify-content: center;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
}

.contacts__text {
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.04em;
}

.contacts__title {
  font-family: DM sans, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.04em;
  color: #000000;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    font-size: 14px;
    margin-bottom: 12px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
    margin-bottom: 8px;
  }
  @media screen and (max-width: 1199px) {
    margin-bottom: 32px;
  }
}

.contacts__text {
  font-family: DM sans, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: #907e82;
  margin-bottom: 24px;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.66;
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: 1.83;
  }
}

.contacts__box {
  font-family: DM sans, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.04em;
  color: #000000;
  border-bottom: 1px solid #e1e1e1;
  border-top: 1px solid #e1e1e1;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-bottom: 24px;
  text-align: start;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    width: 160px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
    width: 288px;
  }
  @media screen and (max-width: 767px) {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.contacts__box--time {
  color: #ffa5ba;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.8;
  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }
}

.button__contacts {
  font-family: DM sans, sans-serif;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-right: 78px;
  padding: 7px 14px;
  font-size: 16px;
  line-height: 1.31;
  border: none;
  border-radius: 22px;
  height: 44px;
  cursor: pointer;
  &--red {
    min-width: 161px;
    background-color: $titleColor;
    color: $textWhiteColor;
    &:hover,
    &:focus {
      background-color: #d41342;
    }
  }
  &--white {
    min-width: 161px;
    background-color: $textWhiteColor;
    color: $titleColor;
    &:hover,
    &:focus {
      background-color: #ecebeb;
    }
  }
}

.contacts__link {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.8;
  color: #907e82;
  text-align: start;
  &:hover,
  &:focus {
    color: #d41443;
  }
  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }
  @media screen and (max-width: 767px) {
    line-height: 1.5;
  }
}

.contacts__button {
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.04em;
  background-color: #f0d1a5;
  border-radius: 6px;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  @media screen and (max-width: 1199px) {
    padding: 2px 15px;
  }
  @media screen and(min-width:768px) {
    margin-bottom: 32px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.8;
  }
  @media screen and (max-width: 767px) {
    margin-bottom: 20px;
    padding: 1px 20px;
  }
}

.button__title-cafe {
  background-color: #f0d1a5;
  text-transform: uppercase;
  border: none;
}

.button__title-food {
  background: #c2e297;
  text-transform: uppercase;
  border: none;
}

.contacts__container {
  padding-left: 20px;
  padding-right: 20px;
  @media screen and (min-width: 768px) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.contacts__box--day {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.8;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.8;
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.04em;
  }
}

.button__item {
  @media screen and (max-width: 767px) {
    margin: 0 auto;
    align-items: center;
    text-align: center;
  }
}

.contacts__box--time-indent {
  @media screen and (max-width: 767px) {
    margin-bottom: 8px;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 12px;
  }
}