.contacts__section {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 40px;
}

.contacts {
    height: 280px;
    width: 412px;
    border: 2px solid red;
    border-radius: 24px;
    padding-top: 40px;
    padding-left: 32px;
    padding-bottom: 40px;
    background: #FFFFFF;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);


}

.button__title {
    display: block;
    width: 80px;
    height: 16px;
    background-color: aqua;
}
.contacts__title {
    margin-top: 20px;
    margin-bottom: 8px;
}
.contacts__text {
    width: 179px;
    font-size: 12px;
    line-height: 1.86;
    letter-spacing: 0.04em;
}