.footer__title {
    margin-bottom: 12px;
    font-size: 26px;
    color: #FFA5BA;
    font-weight: 400;
    font-family: Titan One, sans-serif;
    line-height: 1.25;
}
.footer__title--red {
    color: #D41443;
    font-size: 48px;
    line-height: 1.15;
}