.header {
  background-color: $secondaryColor;
  @media screen and(min-width:768px) {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    width: 768px;
    background-color: transparent;
  }
}
.header__container {
  padding-top: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and(min-width:768px) {
    padding-top: 32px;
  }
}
.header__logo {
}
.logo {
}
.logo__icon {
}
.button__container {
  display: flex;
  gap: 32px;
}

.burger {
  border: none;
  background-color: transparent;
  padding: 0;
  @media screen and(min-width:1200px) {
    display: none;
  }
}
.button--clone {
  display: none;
  @media screen and(min-width:768px) and(max-width:1200px) {
    display: inline-flex;
  }
}
.burger__icon {
}
.header__mobil {
  position: absolute;
  z-index: 3;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  padding: 60px 0px 20px;
  background-color: $mobileColor;
  display: flex;
  justify-content: flex-end;
  flex-direction: column-reverse;
  // display: none;
  & .button__main {
    align-self: center;
    width: 209px;
    margin-bottom: 19px;
  }
  @media screen and(min-width:768px) {
    width: 254px;
  }
}
.header__nav {
}
.header__list {
}
.header__item {
  padding-left: 20px;
  border-bottom: 1px solid #e18298;
  &:first-child {
    border-top: 1px solid #e18298;
  }
}
.header__link {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  color: $textWhiteColor;
  height: 42px;
  display: flex;
  align-items: center;
  &:hover,
  &:focus {
    color: $titleColor;
  }
}
.cross {
  padding: 0;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 14px;
  height: 14px;
  border: none;
  align-self: flex-end;
  background-color: transparent;
}
.cross__icon {
}

.is-hidden {
  display: none;
}
