.header {
  background-color: $secondaryColor;
  @media screen and(min-width:768px) {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    width: 768px;
    background-color: transparent;
  }
  @media screen and(min-width:1200px) {
    width: 1200px;
  }
}
.header__container {
  padding-top: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and(min-width:768px) {
    padding-top: 32px;
  }
  @media screen and(min-width:1200px) {
    padding-top: 37px;
  }
}

.button__container {
  display: flex;
  gap: 32px;
}

.burger {
  border: none;
  background-color: transparent;
  padding: 0;
  @media screen and(min-width:1200px) {
    display: none;
  }
}
.button--clone {
  display: none;
  @media screen and(min-width:768px) and(max-width:1199px) {
    display: inline-flex;
  }
}
// .burger__icon {
// }
.desktop__nav {
  display: none;
  @media screen and(min-width: 1200px) {
    display: block;
    margin-left: 128px;
    flex-grow: 1;
  }
}
.desktop__list {
  display: flex;
  scroll-behavior: smooth;
}
.desktop__item:not(:last-child) {
  margin-right: 35px;
}
.desktop__link {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
  color: $textWhiteColor;
  transition: color 250ms ease-in;
  &:hover,
  &:focus {
    color: $titleColor;
  }
}
.desktop__button {
  display: none;
  @media screen and(min-width: 1200px) {
    display: flex;
  }
}
.header__mobil {
  position: absolute;
  z-index: 3;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  padding: 60px 0px 20px;
  background-color: $mobileColor;
  display: flex;
  justify-content: flex-end;
  flex-direction: column-reverse;
  & .button__main {
    align-self: center;
    width: 209px;
    margin-bottom: 19px;
  }
  @media screen and(min-width:768px) {
    width: 254px;
  }
}

.header__item {
  padding-left: 20px;
  border-bottom: 1px solid #e18298;
  &:first-child {
    border-top: 1px solid #e18298;
  }
}
.header__link {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  color: $textWhiteColor;
  height: 42px;
  display: flex;
  align-items: center;
  &:hover,
  &:focus {
    color: $titleColor;
  }
}
.cross {
  padding: 0;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 14px;
  height: 14px;
  border: none;
  align-self: flex-end;
  background-color: transparent;
}
// .cross__icon {
// }

.is-hidden {
  display: none;
}
// buyform+++++++++++++++++
.buyform__beckdrop {
  position: fixed;
  z-index: 10;
  opacity: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(3px);
}

.buyform__modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  min-width: 300px;
  width: 100%;
  max-width: 460px;
  max-height: 100vh;
  overflow: auto;
  border-radius: 5px;
  visibility: visible;
  background-color: $primeryColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 45px 20px 45px;
}

.buyform__close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  background-color: $titleColor;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  outline: none;
  transition: background-color 250ms ease-in;
  &:hover,
  &:focus {
    background-color: $preTitleColor;
  }
}

.button__hero--red.buyform__btn {
  width: 180px;
  align-self: center;
  margin-top: 40px;
  &:hover,
  &:focus {
    background-color: $preTitleColor;
  }
}

.buyform__form {
  width: 100%;
}
.buyform__container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.buyform__input {
  background-color: $primeryColor;
  border: 1px solid $secondaryColor;
  border-radius: 2px;
  height: 30px;
  padding: 4px 8px;
  margin-top: 4px;
  margin-bottom: 8px;
  max-height: 100vh;
  overflow: auto;
  color: $mainTextColor;
  &:focus {
    outline: 2px solid $titleColor;
  }
}

.buyform__title {
  font-size: 20px;
  line-height: 1;
  color: $titleColor;
  margin-bottom: 20px;
  text-align: center;
}
